.demo {
  background-color: gray;
  height: 300px;
  width: 300px;
  margin: 10px;
  display: inline-block;
}
.red {
  background-color: rgb(248, 6, 6);
}
.green {
  background-color: rgb(3, 161, 50);
}
.blue {
  background-color: rgb(6, 22, 248);
}
